<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="col">
      <div class="col-md-6">
        <h1>
          <i class="fas fa-cog"></i>
          Configuration
        </h1>
      </div>
    </div>
  </div>
</header>


<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="/" class="btn btn-light col-12">
          <i class="fas fa-arrow-left"></i>
          Back to Home
        </a>
      </div>
      <div class="col-md-3">
        <button type="submit" (click)="save()" class="btn btn-success col-12">
          <i class="fas fa-check"></i> Save changes
        </button>
      </div>
    </div>
  </div>
</section>

<section id="configuration">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Edit Configuration</h4>
          </div>
          <div class="card-body">
            <fieldset>
              <legend>Allow Register of Users</legend>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="allowRegister"
                    [(ngModel)]="allowRegister"
                    [checked]="allowRegister"
                  >
                  {{ allowRegister ? 'Yes' : 'No' }}
                </label>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
